html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #341d08;
}

a {
    text-decoration: none;
    color: inherit; /* Сохранение цвета текста */
    background-color: transparent; /* Прозрачный фон */
}

/* START SIDEBAR */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #272222;
    padding-top: 20px;
}

.icon {
    /*width: 20px; !* Задайте нужную ширину иконки *!*/
    height: 20px; /* Задайте нужную высоту иконки */
    margin-right: 10px; /* Отступ справа от иконки, чтобы оставить место для текста */
    /*background-color: white;*/
}

.cursor {
    cursor: pointer;
}

.tab {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}
.tab:hover {
    background-color: #555;
}
.logout {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    position: absolute;
    bottom: 20px;
    width: 80%;
    text-align: center;
    background-color: #555;
    transition: background-color 0.3s;
}
.logout:hover {
    background-color: #777;
}

.logo {
    display: block; /* Обязательно делаем изображение блочным элементом */
    margin: 20px auto; /* Центрируем изображение по горизонтали с отступом сверху 20px */
    width: 120px; /* Устанавливаем ширину изображения */
    height: auto; /* Автоматический подбор высоты, чтобы сохранить пропорции */
}

/* END SIDEBAR */

/* START DASHBOARD */
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
}
li {
    margin-bottom: 10px;
}

.crossed-out {
    text-decoration: line-through;
}

.date {
    font-weight: bold; /* Жирный текст для даты */
    color: black; /* Цвет текста для даты */
}

.container {
    display: flex;
    flex-wrap: wrap; /* Добавлено */
    padding: 20px;
    margin-left: 200px;
    height: 92%;
}

.block {
    background-color: #f2dfd3;
    max-height: 30%;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}

.block:last-child {
    margin-bottom: 0;
}

.block:nth-child(1),
.block:nth-child(4) {
    flex-grow: 1;
    flex-basis: calc(100% - 40px); /* 100% ширины минус два отступа по 20px */
}

.block:nth-child(2),
.block:nth-child(3) {
    flex-grow: 0;
    flex-basis: calc(45% - 20px); /* Половина ширины минус отступ */
    margin-left: 15px;
}

.block:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.clicked {
    background-color: #7c3f06;
}

.block h2 {
    font-size: 20px;
    color: #333;
    margin-right: 15px;
    border-bottom: 1px solid #341d08;
    padding-bottom: 10px;
    align-self: flex-start;
    margin-top: 0;
}

.inner-block-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.inner-block {
    flex: 0 0 calc(20% - 30px); /* Пропорциональная ширина */
    height: 70%;
    background-color: #d3a27f;
    margin: 10px; /* Уменьшен отступ между блоками */
    display: flex;
    align-items: center;
    justify-content: space-around; /* Изменено на space-around для равномерного распределения элементов */
    flex-direction: column; /* Изменено на column для вертикального расположения элементов */
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s;

}

.inner-block .icon {
    width: 25px; /* Изменена ширина логотипа */
    height: auto; /* Автоматическая высота */
}

.inner-block h3, .inner-block p {
    margin: 5px; /* Уменьшен отступ текста от краев блока */
}

.inner-block:hover{
    background-color: #7c3f06;
    /*transform: translateY(-5px);*/
    /*box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);*/
}
/* END DASHBOARD */


/* START REMINDERS PAGE */

.reminders-blocks {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
}

.reminders-block {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.reminder-form {
    flex: 1;
    padding: 20px;
}
.reminder-form label,
.reminder-form input,
.reminder-form select,
.reminder-form button {
    display: block;
    margin-bottom: 10px;
}
.reminder-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.reminder-form button:hover {
    background-color: #0056b3;
}

.low-priority {
    color: gray;
}

.medium-priority {
    color: green;
}

.high-priority {
    color: red;
}

/* END REMINDERS PAGE */